body {
    background-image: url('../ferminbackground.png');
    margin: 0;
    padding: 0;
}
nav{
    background: black;
    text-align: center;
    padding-top: 5px;
}
li{
    display: inline;
    margin-right: 10px;
    padding: 0 5px;
}
ul{
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
li:hover{
    background: #273746;
    cursor: pointer;
}

.formBody {
    text-align: center;
}
form {
    text-align: center;
    background-color: #B1C7C7;
    display: inline-block;
    padding-left: 4px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.name {
    margin-bottom: 5px;
    margin-right: 5px;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
