body {
    background-image: url('../ferminbackground.png');
    margin: 0;
    padding: 0;
    padding-top: 70px;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}

img {
    display: none;
}

nav {
    background: black;
    text-align: center;
    padding-top: 5px;
}

li {
    display: inline;
    margin-right: 10px;
    padding: 0 5px;
}

ul {
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

li:hover {
    background: #273746;
    cursor: pointer;
}
